@import url("https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap");
*,
*::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.logo {
  color: white;
  padding: 2px;
}

nav {
  background: #3f3b3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 10vh;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav-links ul {
  top: 60px;
}

.nav-links li {
  height: 100%;
  padding-left: 10rem;
  margin: 1rem;
  font-size: 1.2rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 10%;
}

.nav-links li a:hover {
  color: #20cfee;
}

.container {
  color: white;
  height: 100vh;
}

.container img {
  width: 100%;
  position: absolute;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.main-title {
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 6rem;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
}

.slider-container {
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  -webkit-transition: 2s;
  transition: 2s;
}

.slide img {
  width: 100%;
}

/*css for manual slide navigation*/
.navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.manual-btn {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40D3DC;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/*css for automatic navigation*/
.navigation-auto {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #40D3DC;
}

.filter-links ul {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

.filter-links ul li {
  list-style: none;
}

.filter-links ul a {
  text-decoration: none;
}

.grid-container {
  background-color: #3f3b3b;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: minmax(350px, auto);
  gap: 10px;
  padding: 20px;
  grid-auto-flow: dense;
}

.grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #46494b;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid__item:hover {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2px;
  background: #797988;
  border-top: 4px solid #262629;
}

footer p {
  margin: 2rem;
}
/*# sourceMappingURL=styles.css.map */